{
  "extends": ["react-app", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
